body {
    background-color: rgb(238, 162, 69);
}

article {
    border-color: black;
    border-style: solid;
    background-color: rgb(247, 11, 11);
    width: 500px;
}

span {
    color:darkred;
    font-size: 18px;
}